@import "../../Variable";

.project-detail-page-container {
  width: 100%;
  min-height: calc(100vh - #{$navbar-vh});
  background-color: $black;
  font-family: $ubuntu;
  color: $gray;
  @include flexCol(flex-start, flex-start);
  padding: 3rem 20rem;

  @media screen and(max-width: 375px) {
    padding: 3rem 1rem;
  }
  @media screen and(max-width: 1465px) {
    padding: 3rem 1rem;
  }
}
