@import "../../Variable";
.nav__container {
  width: 100vw;
  height: 8vh;
  overflow: hidden;
  background-color: $nav-bg;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 1.5rem;
  font-family: $ubuntu;
  @include flexRow(space-between, center);

  animation: nav-fade-in 0.8s ease-in-out;

  // LOGO
  .logo__container {
    .logo {
      width: 6rem;
    }
  }

  // MENU LINKS
  .active__link {
    background__color: $blue;
    li {
      color: $white;
    }
  }
  .menu__container {
    list-style: none;
    display: flex;
    align-items: center;
    // font-size: 0.2rem;
    // font-weight: 400;
    transform: translateX(500%);
    transition: all 0.4s ease-out;
    // opacity: 100%;
    // visibility: hidden;
    .link {
      padding: 0.5rem 0;
      border: none;
      text-align: center;
      border-radius: 5px;
      color: #c9c9c9;
      text-decoration: none;
      transition: all 0.3s ease-out;

      &:nth-child(even) {
        margin: 0 8rem;
      }
      &:hover {
        // background-color: $blue;
        li {
          color: #ffffff;
        }
      }

      @media screen and(max-width: 484px) {
        font-size: 0.7rem;
        padding: 0.5rem 0;
        border: none;
        text-align: center;
        border-radius: 5px;
        color: #c9c9c9;
        text-decoration: none;
        transition: all 0.3s ease-out;
        margin: 0 -40px;
        &:nth-child(even) {
          margin: 0 !important;
        }
        &:hover {
          background-color: transparent;
          width: 6rem !important;
          li {
            color: #ffffff;
          }
        }
      }
    }
  }

  #display__menu {
    // opacity: 100%;
    transform: translateX(0);
    font-size: 1.2rem;
    // visibility: visible;
  }

  // HAMBURFER MENU SHAPE
  .hamburger__menu {
    cursor: pointer;
    height: 50px;
    width: 50px;
    @include flexCol(center, center);
    position: relative;
    overflow: hidden;
    .line {
      background-color: #c9c9c9;
      width: 30px;
      height: 0.1rem;
      transition: transform 0.5s ease;
      position: absolute;
      &:first-child {
        transform: translateY(-10px);
      }
      &:nth-child(even) {
        width: 25px;
        left: 0;
      }
      &:last-child {
        transform: translateY(10px);
      }
    }
  }

  .hamburger__change {
    .line {
      &:first-child {
        transform: rotate(30deg);
      }
      &:nth-child(even) {
        transform: translate(100px);
      }
      &:last-child {
        transform: rotate(-30deg);
      }
    }
  }
}

// KEYFRAME
@keyframes nav-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// RESPONSIVE
@media screen and(max-width: 923px) {
  .nav__container {
    .logo__container {
      display: none;
    }
    .menu__container {
      font-size: 1rem;
      .link {
        width: 7rem;
        padding: 0.5rem 0;
        &:nth-child(even) {
          margin: 0 2rem;
        }
        &:hover {
        }
      }
    }
  }
}
