.nav__container {
  width: 100%;
  height: 11vh;
  overflow: hidden;
  background-color: #333333;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 1.5rem;
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: nav-fade-in 0.8s ease-in-out;
          animation: nav-fade-in 0.8s ease-in-out;
}

.nav__container .logo__container .logo {
  width: 6rem;
}

.nav__container .active__link {
  background__color: #00b0ff;
}

.nav__container .active__link li {
  color: #ffffff;
}

.nav__container .menu__container {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.2rem;
  font-weight: 400;
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.nav__container .menu__container .link {
  width: 8rem;
  padding: 0.5rem 0;
  border: none;
  text-align: center;
  border-radius: 5px;
  color: #c9c9c9;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav__container .menu__container .link:nth-child(even) {
  margin: 0 8rem;
}

.nav__container .menu__container .link:hover {
  background-color: #00b0ff;
}

.nav__container .menu__container .link:hover li {
  color: #ffffff;
}

.nav__container #display__menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  font-size: 1.2rem;
}

.nav__container .hamburger__menu {
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.nav__container .hamburger__menu .line {
  background-color: #c9c9c9;
  width: 30px;
  height: 0.1rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  position: absolute;
}

.nav__container .hamburger__menu .line:first-child {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.nav__container .hamburger__menu .line:nth-child(even) {
  width: 25px;
  left: 0;
}

.nav__container .hamburger__menu .line:last-child {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.nav__container .hamburger__change .line:first-child {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.nav__container .hamburger__change .line:nth-child(even) {
  -webkit-transform: translate(100px);
          transform: translate(100px);
}

.nav__container .hamburger__change .line:last-child {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@-webkit-keyframes nav-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nav-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 923px) {
  .nav__container .logo__container {
    display: none;
  }
  .nav__container .menu__container {
    font-size: 1rem;
  }
  .nav__container .menu__container .link {
    width: 7rem;
    padding: 0.5rem 0;
  }
  .nav__container .menu__container .link:nth-child(even) {
    margin: 0 2rem;
  }
}
/*# sourceMappingURL=Styles.css.map */