@import "../../Variable";

.icon-container {
  position: fixed;
  right: 0;
  top: 40vh;
  @include flexCol(space-around, center);
  background-color: transparent;
  width: 3.5rem;
  height: 15rem;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  opacity: 0;
  animation: appear-in 1.5s ease 2s forwards;

  img {
    cursor: pointer;
    width: 2.2rem;
    transition: all 0.3s ease;
    &:hover {
      width: 2.6rem;
    }
  }
}

@keyframes appear-in {
  100% {
    opacity: 1;
  }
}
