//Colors
$nav-bg: #333333;
$black: #2F2F2F;
$blue: #00b0ff;
$white: #ffffff;
$gray: #CACACA;
$red: #fe4a49;
// Height
$navbar-vh: 11vh;

// Duration time
$shape-delay: 0.5s;

// CSS funtion
@mixin flexRow($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin flexCol($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

// @mixin animated($name, $time-duration, $ease, $time-delay) {
//   transform: scaleY(0);
//   transform-origin: bottom;
//   animation: top-fade 1s ease-in-out forwards;
//   @keyframes top-fade {
//     100% {
//       transform: scaleY(1);
//     }
//   }
// }

$notoSans: "Noto Sans JP", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
