@import "../../Variable";

.banner-container {
  // .social-media{
  //   position: fixed;
  //   width: 4rem;
  //   height: 13rem;
  //   background-color: green;
  //   right: 0;
  //   top: 50%;
  // }
  // padding: 0 5rem;
  background-color: $black;
  min-height: calc(100vh - 8vh);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  overflow: hidden;
  .left-col-container {
    position: relative;
    @include flexRow(flex-start, center);
    .vector-img {
      position: absolute;
      width: 500px;
    }
    .top {
      top: 57px;
      left: 4rem;
      width: 617px;
      height: 482px;

      transform: scaleY(0);
      transform-origin: top;
      animation: top-fade 0.6s ease-in-out $shape-delay forwards;
      @keyframes top-fade {
        100% {
          transform: scaleY(1);
        }
      }
    }
    .mid {
      top: 94px;
      width: 677px;
      height: 692px;
      transform: scale(0);
      transform-origin: top;
      animation: mid-fade 0.6s ease-in-out $shape-delay forwards;
      @keyframes mid-fade {
        100% {
          transform: scale(1);
        }
      }
    }
    .bottom {
      bottom: -10rem;
      width: 660px;
      height: 505px;

      transform: scaleY(0);
      transform-origin: bottom;
      animation: bottom-fade 0.6s ease-in-out $shape-delay forwards;
      @keyframes bottom-fade {
        100% {
          transform: scaleY(1);
        }
      }
    }

    .tons-img {
      width: 500px;
      left: 23rem;
      transform: scaleX(0);
      animation: image-fade 0.6s ease-in-out 1s forwards;
      @keyframes image-fade {
        100% {
          transform: scaleX(1);
        }
      }
    }
  }

  .right-col-container {
    font-family: $ubuntu;
    color: $white;
    @include flexCol(center, center);
    .intro-container {
      line-height: 100px;
      font-size: 2rem;
      h1 {
        color: $gray;
        span {
          color: $blue;
        }
        &:first-child {
          opacity: 0;
          transform: translateX(-100%);
          animation: head1-fade 0.4s ease-in-out 1s forwards;
          @keyframes head1-fade {
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        &:nth-child(even) {
          opacity: 0;
          transform: translateX(-100%);
          animation: head2-fade 0.4s ease-in-out 1.9s forwards;
          @keyframes head2-fade {
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        &:last-child {
          opacity: 0;
          transform: translateX(-100%);
          animation: head3-fade 0.4s ease-in-out 2s forwards;
          @keyframes head3-fade {
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
    .major-container {
      @include flexCol(center, center);
      opacity: 0;
      animation: major-fade 0.4s ease-in-out 2s forwards;
      @keyframes major-fade {
        100% {
          opacity: 1;
        }
      }
      p {
        color: rgb(189, 189, 189);
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 1rem 0;
      }

      .btn {
        position: relative;
        outline: none;
        cursor: pointer;
        width: 10rem;
        height: 3.5rem;
        border-radius: 5px;
        background-color: transparent;
        color: $white;
        font-size: 1.2rem;
        border: 0.1px solid $blue;
      }
      .btn-background {
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $blue;
          border-radius: 5px;
          z-index: -1;
          transform: scaleX(0);
          transform-origin: left;
          @keyframes bounce-btn {
            0% {
              opacity: 0;
              transform: scaleX(0.3);
            }
            50% {
              opacity: 1;
              transform: scaleX(1);
            }
            70% {
              transform: scaleX(0.9);
            }
            100% {
              transform: scaleX(1);
            }
          }
        }
        &:hover {
          &::before {
            animation: bounce-btn 0.7s ease-in forwards;
          }
        }
      }
    }
  }
}
